@{
    Layout = "_LayoutFullWidth";
    Html.AddBodyCssClass("home");
}
<div class="page home-page">
    <div class="page-body">
        @{
            Html.RenderWidget("home_page_top");

            <div class="home-welcome" style="min-height: 250px;color: white;background-image: url('https://a5.behance.net/7cfb6f343675d87e10154d935c42ab8de8e8c470/img/site/1x/cta-header.jpg');">
                @{
                    Html.RenderAction("TopicBlock", "Topic", new { systemName = "HomePageText", isLead = true });
                    Html.RenderWidget("home_page_after_intro");
                }
            </div>

            <div class="container">
                @{ Html.RenderAction("TopReviews", "Review", new { productId = 1 });}
                @{ Html.RenderWidget("home_page_after_intro");}
            </div>

            Html.RenderAction("TopReviewers", "Reviewer", new { productId = 1 });
            Html.RenderWidget("home_page_after_intro");

            //Html.RenderAction("HomepageCategories", "Catalog");
            //Html.RenderWidget("home_page_after_categories");

            //Html.RenderAction("HomepageProducts", "Catalog");
            //Html.RenderWidget("home_page_after_products");

            Html.RenderAction("HomepageBestSellers", "Catalog");
            Html.RenderWidget("home_page_after_bestsellers");

            @*<div class="container">
                @{Html.RenderAction("HomepageManufacturers", "Catalog"); }
                @{Html.RenderWidget("home_page_after_manufacturers");}
            </div>*@

            Html.RenderAction("PopularProductTags", "Catalog", new { area = "" });
            Html.RenderWidget("home_page_after_tags");

            //Html.RenderAction("HomePageNews", "News");
            //Html.RenderWidget("home_page_after_news");

            Html.RenderAction("HomePagePolls", "Poll");
            Html.RenderWidget("home_page_after_polls");

            @* TODO: (mc) find more intelligent way of rendering RecentlyViewedProductsBlock globally *@
            Html.RenderAction("RecentlyViewedProductsBlock", "Catalog", new { area = "" });

            Html.RenderWidget("home_page_bottom");
        }
    </div>
</div>