
@{
    ViewBag.Title = "ReviewByProduct";
    Layout = "";
}

<div class=" block">
    <div class="heading heading-center">
        <h3 class="heading-title fs-h1">@T("Homepage.TopReviews")</h3>
    </div>

    <div class="artlist artlist-grid artlist-6-cols artlist-boxed block-body pt-3">
        
    </div>
</div>

